<h1>Log in</h1>
<h1></h1><br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="formall">
    <p><%= f.label :email %></p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="formall">
    <p><%= f.label :password %><br /></p>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

<h1></h1>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <p><%= f.check_box :remember_me %>
      <%= f.label :remember_me %></p>
    </div>
  <% end -%>

  <h1></h1>


  <div class="actions">
    <h4><%= f.submit "Log in" %></h4>
  </div>
<% end %>

<h1></h1>

<p><%= render "devise/shared/links" %></p>
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
<h1></h1><br />
