
<% if user_signed_in? %>
<h1> DHBW Stuttgart - Baden-Wuerttemberg Cooperative State University Stuttgart</h1>
<hr />
<ul>
<li><p> Financial Management </p></li>
<plink class="textlink">
<%= link_to 'Skript Finanzmanagement', '/2017_Skript_Finanzmanagement.pdf', :target => 'blank' %></plink>
<plink class="textlink"><br />
<%= link_to 'Übungen 1', '/Exercises_Finance_1.pdf', :target => 'blank' %></plink>

<li><p> Controllership </p></li>
<plink class="textlink">
<%= link_to 'Script Controllership', '/2017_Script_Controllership.pdf', :target => 'blank' %></plink>

<li><p> Cost and Performance Accounting </p></li>
<plink class="textlink">
<%= link_to 'Skript KLR', '/2017_Skript_KLR.pdf', :target => 'blank' %></plink>

</ul>
<h1></h1><br />
<h1> Hochschule Heilbronn - Heilbronn University of Applied Sciences</h1>
<hr />
<ul>
<li><p> Introduction to Cost Accounting </p></li>
<plink class="textlink">
<%= link_to 'Skript Kostenrechnung', '/2018_Skript_Kostenrechnung.pdf', :target => 'blank' %></plink>

</ul>
<% else %>

<h1>Please first log in</h1>
<% end %>


<h1></h1><br />
<h1></h1><br />
<h1></h1>
