<h2 class=capt>Welcome!</h2>
<hr />
<p>Hey. Thank you very much for your interest.</p>
<p>It's about science, finance & accounting, entrepreneurship, tech & lifestyle.</p>
<p>Please login to download lecture notes, other teaching material and scientific papers.</p>
<p>Please also check out the latest news & some literature recommendations.</p>
<p>
  <plink class="textlink"><%= link_to "Contact", new_contact_url %></plink>
   me directly on
   <plink class="textlink"><%= link_to "email", new_contact_url %></plink>
    or social media anytime.</p>
<p>T</p>

<h2 class="capt"><%= link_to "@tobias_l_g on instagram", @insta, target: "_blank" %><h2>
<hr />
<ul>
  <li class= "pics"><%= link_to (image_tag "pic1.JPG", width: '15%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic11.JPG", width: '13%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic3.jpg", width: '14%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic4.jpg", width: '14%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic5.jpg", width: '14%'), @insta, target: "_blank" %></li>
</ul>
<ul>
  <li class= "pics"><%= link_to (image_tag "pic6.jpg", width: '12%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic7.jpg", width: '14%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic8.jpg", width: '13%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic9.jpg", width: '11%'), @insta, target: "_blank" %></li>
  <li class= "pics"><%= link_to (image_tag "pic10.jpg", width: '18%'), @insta, target: "_blank" %></li>
</ul>
