<!DOCTYPE html>
<html>
  <head>
    <title>tobiasguggemos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <p><%= current_user.email %>
    <plink class="textlink"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></plink></p>

    <% else %>
    <plink class="textlink"><%= link_to "Sign in", new_user_session_path %></plink>


    <% end %>

    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
